node_modules
**/node_modules
**/.gradle
**/build
**/.idea
**/local.properties
**/.cxx
**/captures
*.apk
*.aab
*.iml
.DS_Store
**/*.pre-*
**/.gradle/
**/build/
**/local.properties
**/.cxx/
*.apk
*.aab
