<div class="song-card">

    <div class="song-card-artwork">

        <img
            src="assets/default-album.png"
            alt="Album artwork"
            class="song-card-artwork-image"
        >

    </div>


    <div class="song-info">

        <h3>
            Song Title
        </h3>

        <p>
            Artist Name
        </p>

    </div>


    <div class="song-card-actions">

        <button
            class="play-song"
            type="button"
            aria-label="Play song"
        >
            ▶
        </button>


        <button
            class="playlist-add-button"
            type="button"
            data-playlist-add=""
            aria-label="Add song to playlist"
            title="Add to playlist"
        >
            ＋
        </button>

    </div>

</div>